
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Varela+Round&display=swap');

/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Varela Round", sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: "Barrio", serif;
    font-size: 2rem;
}

/*top navigation section */

header {
    width: 100%;
}

.top-nav {
    background: seagreen;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    line-height: 1rem;

}

#logo {
    font-family: "Barrio", serif;
    color: paleturquoise;
}

#logo i {
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    padding-right: 2rem;
    color: white;
}

.nav-links a:hover {
    color: paleturquoise;
}

.nav-links li {
    list-style: none;
}

/* hero section */

#hero-image {
    height: 80vh;
    width: 100%;
    background-image: url("/assets/images/plett-paws-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    background-position: bottom;
}

#hero-container {
    width: 100%;
    height: auto;
    background-image: url("/assets/images/plett-paws-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
}

#hero-text {
    padding-top: 35vh;
    padding-left: 2rem;
}

#hero-text span {
    background-color: white;
    padding: 2px 5px;
}

#hero-text p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

/* dogs for adoption section */

#dogs-adopt {
    height: 80vh;
    width: 100%;
    background-color: paleturquoise;
}

#dogs-adopt > h1 {
    text-align: center;
    padding: 3rem 0rem 4rem 0rem;
}

#dogs-carousel {
    display: flex;
    justify-content: space-evenly;
}

.dog-feature {
    border: 1px solid lightgray;
    background-color: white;
    padding: 1rem;
}

.dog-feature > img {
    width: 15rem;
}

.dog-feature > h2 {
    text-align: center;
    padding: 0.5rem 0 0 0;
}

.dog-feature > p {
    width: 15rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

/* volunteer sign-up section */

#volunteer-signup {
    background-color: white;
    height: 80vh;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#volunteer-signup > h1 {
    text-align: center;
    padding: 3rem 0rem 2rem 0rem;
}

#volunteer-or-donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-field {
    background-color: lightgray;
    border: 2px solid seagreen;
}

.form-field:hover, .form-field:active {
    background-color: seagreen;
    border: 2px solid paleturquoise;
}

#volunteer-or-donate label {
    padding: 1rem;
    text-align: center;
 }

 #volunteer-or-donate legend {
    padding: 1.5rem 0 0 0;
 }

 #volunteer-or-donate p {
    font-style: oblique;
 }
 
 #volunteer-or-donate fieldset {
    border: none;
 }

 #volunteer-or-donate > #submit {
    margin: 1.5rem 0;
    padding: 0.5rem;
    background-color: seagreen;
    border: 3px solid paleturquoise;
    border-radius: 10%;
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    color: white;
    
 }

 #volunteer-or-donate > #submit:hover {
    border: 5px solid paleturquoise;
 }

 /* about us section */

 #about-us {
    width: 100%;
    background-color: paleturquoise;
    padding: 3rem 4rem;
 }

 #about-text h1 {
    padding-bottom: 1rem;
 }

 /* Contact us section */

#contact-us {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 #contact-box span {
    font-weight: bolder;
    color: seagreen;
    margin-right: 0.7rem;
 }

 #contact-box {
    width: 50%;
    padding: 2rem;
    line-height: 3rem;
 }

 /* Footer  */

 footer {
    width: 100%;
    background-color: paleturquoise;
 }

 #social-icons {
    display: flex;
    justify-content: center;
    padding: 3rem;
 }

 #social-icons > a {
    padding: 0 4rem;
    font-size: 2rem;
    color: black;
 }

 #social-icons > a:hover {
    color: seagreen;
 }

 footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 2rem;
 }

/*1110 max - put dogs on two lines
652 max - stack navigation, put dogs on one line, put contact on one line*/

@media screen and (max-width:1110px) {
    #dogs-adopt {
        height: auto;
        padding-bottom: 1.5rem;
    }
    #dogs-carousel {
        display: flex;
        flex-wrap: wrap;
    }
    .dog-feature {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:650px) {
    .top-nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        margin-top: 1.2rem;
    }
    #volunteer-signup {
        height: auto;
    }
    #volunteer-signup form {
        padding: 1rem;
    }
    #contact-us {
        flex-direction: column;
    }
    #contact-box {
        width: 100%;
    }
}