
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Varela Round", sans-serif;
}

.top-nav {
    background: seagreen;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    line-height: 1rem;
    position: fixed;
}

#logo {
    font-family: "Barrio", serif;
    color: paleturquoise;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    padding-right: 2rem;
    color: white;
}

.nav-links li {
    list-style: none;
}

h1 {
    font-family: "Barrio", serif;
    font-size: 2rem;
}

#hero-image {
    height: 80vh;
    width: 100%;
    background-image: url("/assets/images/plett-paws-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#hero-text {;
    padding-left: 2rem;
}

#hero-text h1 {
    padding-top: 38vh;
    text-emphasis-color: green;
}

#hero-text span {
    background-color: aliceblue;
    padding: 2px 5px;
}