
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Varela Round", sans-serif;
}

.top-nav {
    background: seagreen;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    line-height: 1rem;
    position: fixed;
}

#logo {
    font-family: "Barrio", serif;
    color: paleturquoise;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    padding-right: 2rem;
    color: white;
}

.nav-links li {
    list-style: none;
}

h1 {
    font-family: "Barrio", serif;
    font-size: 2rem;
}

#hero-image {
    height: 80vh;
    width: 100%;
    background-image: url("/assets/images/plett-paws-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#hero-text {
    padding-top: 35vh;
    padding-left: 2rem;
}

#hero-text span {
    background-color: white;
    padding: 2px 5px;
}

#hero-text p {
    line-height: 1.8rem;
}

#dogs-adopt {
    height: 80vh;
    background-color: paleturquoise;
}

#dogs-adopt > h1 {
    text-align: center;
    padding: 3rem 0rem 4rem 0rem;
}

#dogs-carousel {
    display: flex;
    justify-content: space-evenly;
}

#dog-1 {
    background-color: rebeccapurple;
}

#dog-2 {
    background-color: greenyellow;
}

#dog-3 {
    background-color: orangered;
}

#dog-4 {
    background-color: violet;
}